@*using _ViewImports.cshtml hence no full name required*@
@model PiesListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
   //Move the code from here to a partial view _PieCard
   <partial name="_PieCard" model="pie" />
}

